:root {
    --secondary-color: #FFFFFF;
    --suplementary-color: #C0C2C8;
}

footer {
    background-color: var(--suplementary-color);
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 5vh;
}